.card h3 {
    margin-bottom: 10px;
    color: #5A537B;
}
.card p {
    color: #353535;
    font-size: 14px;
}

body {
    margin: 0;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6C4BFF;
    color: white;
    padding: 40px 0;
}

button{
    margin-top: 12px;
    gap: 10px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
}

input {
    width: 260px;
    height: 80px;

    background-color: transparent;
    border: 2px solid #E5E7EB;
    border-radius: 8px;

    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-weight: bold;

    margin-bottom: 25px;
}

.bottom-section{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    flex-direction: column;
    background-color: #F4F4F4;

}

.card {
    background-color: white;
    width: 90%;
    max-width: 500px;

    padding: 20px;
    text-align: center;

    border-radius: 6px;
}
.card p {
    margin-top: 8px;
    font-size: 25px;
    color: #353535;
    line-height: 1.5;
    font-weight: 500;

    opacity: auto;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.card p.show {
    opacity: 1;
    transform: translateY(0);
}
